@model IEnumerable<NT.SHARED.Models.Color>

@{
    ViewBag.Title = "Colors";
}

<h1>Colors</h1>

<p><a asp-action="Create" class="btn btn-primary">Create New</a></p>

<table class="table">
    <thead><tr><th>Name</th><th>HexCode</th><th></th></tr></thead>
    <tbody>
    @foreach(var c in Model)
    {
        <tr>
            <td>@c.Name</td>
            <td>@c.HexCode</td>
            <td>
                <a asp-action="Details" asp-route-id="@c.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@c.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@c.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>