@model IEnumerable<NT.SHARED.Models.Brand>

@{
    ViewBag.Title = "Brands";
}

<h1>Nhà Sản Xuất</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm Nhà Sản Xuất</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Website</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var b in Model)
    {
        <tr>
            <td>@b.Name</td>
            <td>@b.Website</td>
            <td>
                <a asp-action="Details" asp-route-id="@b.Id">Chi tiết</a> |
                <a asp-action="Edit" asp-route-id="@b.Id">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@b.Id">Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>