@model NT.SHARED.Models.CartDetail

<h2>Giỏ hàng của bạn</h2>
<dl class="row">
    <dt class="col-sm-2">CartId</dt>
    <dd class="col-sm-10">@Model.CartId</dd>
    <dt class="col-sm-2">ProductDetailId</dt>
    <dd class="col-sm-10">@Model.ProductDetailId</dd>
    <dt class="col-sm-2">Quantity</dt>
    <dd class="col-sm-10">@Model.Quantity</dd>
</dl>
<p>
    <a asp-action="Edit" asp-route-cartId="@Model.CartId" asp-route-productDetailId="@Model.ProductDetailId">Sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</p>
