@model IEnumerable<NT.SHARED.Models.Length>

@{
    ViewBag.Title = "Qu?n lý chi?u dài";
}

<h1>Qu?n lý chi?u dài</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">T?o m?i</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên</th>
            <th>Mô t?</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Chi ti?t</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">S?a</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>