@model IEnumerable<NT.SHARED.Models.User>
@{
    ViewBag.Title = "Danh sách người dùng";
}

<h1>Danh sách người dùng</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Tạo tài khoản đăng nhập mới</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên đăng nhập</th>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>Vai trò</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var u in Model)
    {
        <tr>
            <td>@u.Username</td>
            <td>@u.Fullname</td>
            <td>@u.Email</td>
            <td>@u.Role?.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@u.Id" class="btn btn-sm btn-info">Chi tiết</a>
                <a asp-action="Edit" asp-route-id="@u.Id" class="btn btn-sm btn-warning">Sửa</a>
                <a asp-action="Delete" asp-route-id="@u.Id" class="btn btn-sm btn-danger">Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>