@model IEnumerable<NT.SHARED.Models.User>
@{
    ViewBag.Title = "Danh sách ng??i dùng";
}

<h1>Danh sách ng??i dùng</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">??ng ký m?i</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tên ??ng nh?p</th>
            <th>H? và tên</th>
            <th>Email</th>
            <th>Vai trò</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var u in Model)
    {
        <tr>
            <td>@u.Username</td>
            <td>@u.Fullname</td>
            <td>@u.Email</td>
            <td>@u.Role?.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@u.Id" class="btn btn-sm btn-info">Chi ti?t</a>
                <a asp-action="Edit" asp-route-id="@u.Id" class="btn btn-sm btn-warning">S?a</a>
                <a asp-action="Delete" asp-route-id="@u.Id" class="btn btn-sm btn-danger">Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>
