@model NT.SHARED.Models.Customer

<h2>Chi tiết khách hàng</h2>
<dl class="row">
    <dt class="col-sm-2">Mã người dùng</dt>
    <dd class="col-sm-10">@Model.UserId</dd>
    <dt class="col-sm-2">Địa chỉ</dt>
    <dd class="col-sm-10">@Model.Address</dd>
    <dt class="col-sm-2">Ngày sinh</dt>
    <dd class="col-sm-10">@Model.DoB</dd>
    <dt class="col-sm-2">Giới tính</dt>
    <dd class="col-sm-10">@Model.Gender</dd>
</dl>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</p>
