@model IEnumerable<NT.SHARED.Models.Customer>

<h2>Danh sách khách hàng</h2>
<p><a asp-action="Create">Thêm mới</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Mã người dùng</th>
            <th>Địa chỉ</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.UserId</td>
            <td>@item.Address</td>
            <td>@item.DoB</td>
            <td>@item.Gender</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
    }
    </tbody>
</table>
