@model NT.SHARED.Models.OrderDetail

<h2>Chi ti?t ??n hàng</h2>
<dl class="row">
    <dt class="col-sm-2">Mã ??n hàng</dt>
    <dd class="col-sm-10">@Model.OrderId</dd>
    <dt class="col-sm-2">Mã bi?n th? SP</dt>
    <dd class="col-sm-10">@Model.ProductDetailId</dd>
    <dt class="col-sm-2">S? l??ng</dt>
    <dd class="col-sm-10">@Model.Quantity</dd>
    <dt class="col-sm-2">??n giá</dt>
    <dd class="col-sm-10">@Model.UnitPrice</dd>
    <dt class="col-sm-2">T?ng ti?n</dt>
    <dd class="col-sm-10">@Model.TotalPrice</dd>
</dl>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">S?a</a> |
    <a asp-action="Index" class="btn btn-secondary">Quay l?i danh sách</a>
</p>

